* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.main {
  width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
  font-family: sans-serif;
}

img {
  object-fit: contain;
  display: block;
}

.logo-img {
  width: 400px;
}

.product-gallery img {
  width: 285px;
  height: 285px;
}

.product-detail img {
  width: 600px;
  height: 600px;
}

.cart img {
  width: 200px;
  height: 200px;
}

nav {
  margin-bottom: 4rem;
  margin-top: 1rem;
  display: flex;
  gap: 20px;
}

.nav-left{
float:left;
}

.nav-right{
  display: flex;
  flex-direction: column;
  width: 100%;
}

hr{
  border: 4px solid black;
  width: 100%;
}

nav .links-container{
  width: 100%;
  display: flex;
  justify-content: end;
  padding-bottom: 1.5rem;
}

nav .links {
  margin-top: 1.5rem;
  width: 200px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
}

.links a {
  margin-top: 0.8rem;
  text-transform: uppercase;
  color: black;
  font-weight: 400;
}

.links .current {
  background-color: yellow;
  font-weight: 700;
}

.title-container{
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.product-detail,
.product-gallery,
.cart {
  width: fit-content;
  margin: auto;
}

.product-thumbnail img,
.cart-thumbnail img,
.product-detail img {
  border: 4px solid black;
}

h2 {
  font-weight: 400;
  /* text-align: center; */
  margin:0;
}

h3 {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0.5rem 0 0 0;
  text-decoration: underline;
  text-decoration-color: rgb(205, 205, 205);
  /* External source: looked up css for underline color at: https://www.w3schools.com/CSSref/css3_pr_text-decoration-color.php */
}

/* Gallery */
.product-gallery{
  width: 90%;
  margin: auto;
}

.cinnamon-rolls{
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* External source: looked up css for grid at: https://css-tricks.com/books/greatest-css-tricks/flexible-grids/ */
}

.product-thumbnail {
  padding: 0.5rem;
  margin-bottom: 2rem;
  width: fit-content;
}

.product-thumbnail .price {
  font-size: 1.2rem;
  font-weight: 500;
}

.product-thumbnail:hover {
  background-color: yellow;
}

.product-thumbnail:hover h3{
 font-weight: 700;
}

/* Detail */
.product-detail{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.product-detail p {
  width: 13rem;
  margin: auto;
  margin-top: 1rem;
}

.product-detail-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 0.3rem;
}

.glazing,
.pack-size {
  width: 13rem;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

select {
  display: block;
  height: 1.8rem;
  border: 3px solid black;
  width: 100%;
}

.price-add-cart {
  font-weight: 700;
  width: 13rem;
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-add-cart * {
  display: inline;
}

.price-add-cart p {
  width: fit-content;
  padding: 0 1rem;
  margin: 0;
}

.add-cart,
.checkout {
  padding: 0.3rem 1.5rem;
  background-color: yellow;
  border: 3px solid black;
  font-weight: 700;
}

/* Cart */
.cart{
  width: 60%;
  margin-right: 100px;
}

.cart-thumbnail {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-thumbnail p {
  margin: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.cart-thumbnail .price {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
  text-align: right;
}

.remove {
  background-color: transparent;
  border: none;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: rgb(205, 205, 205);
  display: block;
  padding: 0.6rem 0 1rem;
}

.cart-thumbnail-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-thumbnail-mid{
  width: 50%;
  margin-left: 50px;
}

.cart-thumbnail-right{
  display: flex;
  align-items: center;
}


.total-checkout {
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  border-top: 5px solid black;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.total-price{
display: flex;
justify-content: space-between;
width: 70%;
}

.total {
  margin-bottom: 0.7rem;
  margin-left: 52px;
}

.checkout {
  margin-top: 0;
  margin-bottom: 10rem;
}
