---
import ThemeToggle from "./ThemeToggle.astro";

const socialLinks = [
  {
    text: "LinkedIn",
    href: "https://linkedin.com/",
  },
  {
    text: "GitHub",
    href: "https://github.com/",
  }
];
---

<!-- Base code referenced from Dante Astro Template by Asta Bankauske, 
     Front-End Developer, Co-Founder @JustGoodThemes & @JustGoodUI.
     https://github.com/JustGoodUI/dante-astro-theme/blob/main/src/components/Footer.astro  
-->
<footer class="w-full mx-auto">
  <div
    class:list={[
      " flex flex-col gap-4",
      {
        "sm:flex-row-reverse sm:justify-between sm:items-center":
          socialLinks.length > 0,
      },
    ]}
  >
    <ThemeToggle />
    <div class="text-sm">Ray Xia @PUI24</div>
  </div>
</footer>

<style>
  footer {
    font-family: "TT Fors";
    padding: 1.8rem 1rem 1rem;
  }
  a {
    text-transform: uppercase;
  }
</style>
