---
import "../styles/global.css";
---

<div class="resume-container">
  <!-- Experience -->
  <section class="mb-16">
    <h2 class="mb-3">Experience</h2>

    <!-- BJC -->
    <article class="mb-12">
      <div class="lg:flex justify-between items-end mb-2">
        <h3 class="text-xl font-medium mb-0">UX Design & Research Intern</h3>
        <p class="time-location lg:text-right">
          BJC HealthCare &nbsp;|&nbsp; May 2023 - May 2024
        </p>
      </div>
      <ul class="space-y-3">
        <li>
          Collaborated to design, deliver high-fidelity prototypes, and conduct
          usability testing of key features for BJC Flex, a custom-developed,
          mobile-friendly tool aimed to help nurses schedule shifts, leading to
          245,255 hours of additional scheduled shifts from Q3 to Q4.
        </li>
        <li>
          Led the planning and coordinated a team of 3 UX Researchers to execute
          a 12-month user research to consistently measure the satisfaction and
          engagement of nurses with Virtual Nursing practices across the
          healthcare system. Insights yielded from the research were recognized
          by C-Suite executives to help improve nurses retention and reduce
          their workload burden.
        </li>
        <li>
          Owned the design of a 10+ page new messaging tool within BJC Flex in
          order to improve communication and operational efficiency among nurses
          and nurse managers.
        </li>
      </ul>
    </article>

    <!-- Rulai -->
    <article class="mb-12">
      <div class="lg:flex justify-between items-end mb-2">
        <h3 class="text-xl font-medium mb-0">Solution Engineer Intern</h3>
        <p class="time-location lg:text-right">
          Rulai, Inc. &nbsp;|&nbsp; Jun - Sep 2022
        </p>
      </div>
      <ul class="space-y-3">
        <li>
          Participated in designing a custom NLP chatbot building tool that
          enhances the automation of customer support for 20+ enterprises.
        </li>
        <li>
          Led the redesign and development of the chatbot demonstration system
          from start to finish by incorporating all up-to-date features and
          optimizing user flow.
        </li>
        <li>
          Collaborated closely with the engineering and marketing team to boost
          live demonstration efficiency by 50%, streamlining future
          demonstration processes.
        </li>
        <li>
          Tracked user transcripts and analytics to assess the usability of
          chatbots and to uncover UI design improvements.
        </li>
      </ul>
    </article>
  </section>

  <!-- Academic Projects -->
  <section class="mb-16">
    <h2 class="mb-3">Academic Projects</h2>
    <article class="mb-12">
      <div class="lg:flex justify-between items-end mb-2">
        <h3 class="text-xl font-medium mb-0">
          Conversation Game for People Living with Alzheimer's
        </h3>
        <p class="time-location lg:text-right">
          Fabula(b) &nbsp;|&nbsp; Jan - Apr 2024
        </p>
      </div>
      <ul class="space-y-3">
        <li>
          Conducted market research and interviews with subject matter experts
          and family members to evaluate the effectiveness, accessibility, and
          desirability of applied Reminiscence Therapy to support the community
          of people living with Alzheimer's.
        </li>
        <li>
          Designed features and interactions from concept to high-fidelity
          prototypes of a conversation game to deliver more accessible
          Reminiscence Therapy.
        </li>
      </ul>
    </article>
  </section>

  <!-- Education -->
  <section class="mb-16">
    <h2 class="mb-3">Education</h2>
    <article class="mb-12">
      <div class="lg:flex justify-between items-end mb-2">
        <h3 class="text-xl font-medium mb-0">Carnegie Mellon University</h3>
        <p class="time-location lg:text-right">
          Anticipated Aug 2025 &nbsp;|&nbsp; Pittsburgh, PA
        </p>
      </div>
      <p class="">Master of Human-Computer Interaction</p>
    </article>

    <article class="mb-12">
      <div class="lg:flex justify-between items-end mb-2">
        <h3 class="text-xl font-medium mb-0">
          Washington University in St. Louis
        </h3>
        <p class="time-location lg:text-right">
          Graduated May 2024 &nbsp;|&nbsp; St. Louis, MO
        </p>
      </div>
      <p class="">
        Bachelor of Fine Arts, Communication Design Major, Minor in Computer
        Science; GPA: 3.97/4.00
      </p>
    </article>
  </section>

  <!-- Toolbox & Skills -->
  <section class="mb-12">
    <h2 class="mb-3">Toolbox</h2>
    <p class="mb-3">
      HTML/CSS/JavaScript, React, Python, Figma, Illustrator, Photoshop, After
      Effects, InDesign
    </p>
  </section>
  <section>
    <h2 class="mb-3">Skills</h2>
    <p class="">
      UX & UI Design, Front-End Engineering, User Research, Usability Testing,
      Graphic Design, Interaction Design
    </p>
  </section>
</div>

<style>
  h2 {
    font-family: "TT Fors";
    text-transform: capitalize;
    font-size: 0.875rem;
    color: var(--color-text-secondary);
  }

  h3 {
    font-family: "LT Cushion";
    line-height: 1.1;
  }

  p {
    margin-bottom: 0;
  }

  .time-location {
    font-size: 0.75rem;
    min-width: 12rem;
  }

  .resume-container {
    max-width: 32rem;
  }

  section {
    max-width: 42rem;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  p a {
    color: var(--color-text-tertiary);
    text-decoration: none;
    position: relative;
    transition: 100ms ease;
    pointer-events: auto;
    border-bottom: 1.5px solid var(--color-border-secondary);
  }

  a:hover {
    color: var(--color-text-main);
    border-bottom: 1.5px solid var(--color-border-main);
  }

  ul {
    list-style: square;
  }

  li {
    margin-left: 1rem;
    margin-bottom: 0.2rem;
  }

  li::marker {
    color: var(--color-text-secondary);
  }

  @media screen and (min-width: 768px) {
    .resume-container {
    }
  }
</style>
