@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root,
:root.light {
  scroll-padding-top: 12rem;

  --color-text-main: rgba(50, 50, 50, 1);
  --color-text-secondary: rgba(99, 99, 99, 1);
  --color-text-tertiary: rgba(99, 99, 99, 1);
  --color-text-highlight: rgba(24, 24, 24, 1);
  --color-bg-main: rgba(252, 251, 248, 1);
  --color-bg-secondary: rgba(244, 242, 238, 1);
  --color-bg-white: rgba(255, 255, 255, 1);
  --color-border-main: rgba(99, 99, 99, 1);
  --color-border-secondary: rgba(199, 199, 199, 1);
  --color-highlight: rgba(227, 220, 209, 1);
}

.dark {
  --color-text-main: rgba(233, 230, 230, 1);
  --color-text-secondary: rgba(192, 192, 192, 1);
  --color-text-tertiary: rgb(209, 209, 209);
  --color-text-highlight: rgba(24, 24, 24, 1);
  --color-bg-main: rgba(77, 77, 77, 1);
  --color-bg-secondary: rgba(96, 96, 96, 1);
  --color-border-main: rgba(148, 148, 148, 1);
  --color-border-secondary: rgba(120, 120, 120, 1);
  --color-highlight: rgba(221, 213, 201, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-main: rgba(233, 230, 230, 1);
    --color-text-secondary: rgba(192, 192, 192, 1);
    --color-text-tertiary: rgb(209, 209, 209);
    --color-text-highlight: rgba(24, 24, 24, 1);
    --color-bg-main: rgba(77, 77, 77, 1);
    --color-bg-secondary: rgba(96, 96, 96, 1);
    --color-border-main: rgba(148, 148, 148, 1);
    --color-border-secondary: rgba(120, 120, 120, 1);
    --color-highlight: rgba(221, 213, 201, 1);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  background-color: var(--color-bg-main);
  font-family: "Figtree", sans-serif;
  font-style: normal;
  color: var(--color-text-main);
  /* transition: background-color 0.2s ease, color 0.2s ease; */
}

body {
  line-height: 1.65;
  font-size: 100%;
}

.bg-main {
  background-color: var(--color-bg-main);
}

.coverSquare-main {
  fill: var(--color-bg-main);
}

::selection {
  background: var(--color-highlight);
  color: var(--color-text-highlight);
}

@font-face {
  font-family: "Figtree";
  src: url("./fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("./fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Fors";
  src: url("./fonts/TT-Fors-Light.ttf") format("truetype");
  font-weight: 300;
  letter-spacing: -0.03rem;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Fors";
  src: url("./fonts/TT-Fors-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Fors";
  src: url("./fonts/TT-Fors-Medium-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Fors";
  src: url("./fonts/TT-Fors-Demi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Fors";
  src: url("./fonts/TT-Fors-DemiBold-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Fors";
  src: url("./fonts/TT-Fors-Outline-Italic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Fors";
  src: url("./fonts/TT-Fors-Outline.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Fors";
  src: url("./fonts/TT-Fors-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LT Cushion";
  src: url("./fonts/LTCushion-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LT Cushion";
  src: url("./fonts/LTCushion-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LT Cushion";
  src: url("./fonts/LTCushion-VF.ttf") format("truetype");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}
