---
import GalleryLayout from "../layouts/GalleryLayout.astro";

const pageTitle = "About";
---

<GalleryLayout pageTitle={pageTitle}>
  <main>
    <div>Work in progress</div>
</main>
</GalleryLayout>

<style>
</style>
