---
import GalleryLayout from "../layouts/GalleryLayout.astro";

const pageTitle = "Work in progress";
---

<GalleryLayout pageTitle={pageTitle}>
  <main>
    <div class="flex justify-center items-center h-screen">
      <span>Work in progress</span>
    </div>
  </main>
</GalleryLayout>

<style></style>
