---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import ViewTransitions from "astro/components/ViewTransitions.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <ViewTransitions />
    </head>
    <body>
        <div class="flex flex-col min-h-screen">
            <Nav bg="bg-main" coverSquare="coverSquare-main"/>
            <slot />
            <Footer />
            <script>
            </script>
        </div>
    </body>
</html>
